<form action="/cards/{{id}}?_method=PUT" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="{{name}}">
  <label for="picture-url">Picture URL</label>
  <input type="url" name="pictureUrl" id="picture-url" value="{{pictureUrl}}">
  <label for="mana-cost">Mana Cost</label>
  <input type="number" name="manaCost" id="mana-cost" value="{{manaCost}}">
  <input class="success" type="submit" value="Edit Card">
</form>
