<form action="/cards" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="">
  <label for="picture-url">Picture URL</label>
  <input type="url" name="pictureUrl" id="picture-url" value="">
  <label for="mana-cost">Mana Cost</label>
  <input type="number" name="manaCost" id="mana-cost" value="">
  <input class="success" type="submit" value="Add Card">
</form>
