$dark-grey: #333;
$white: #FFF;
$success: hsl(120, 50%, 50%);
$failure: hsl(0, 50%, 50%);

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700');

body {
  font-family: Merriweather;
}

input, label {
  display: block;
}

form {
  width: 30rem;
  // position: relative;
  input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 100%;
  }
  .success {
    background-color: $success;
    color: $white;
    font-weight: 400;
    border: none;
    padding: 1rem;
    transition: background-color 0.5s;
    &:hover {
      background-color: lighten($success, 10%);
    }
  }
  .failure {
    background-color: $failure;
    color: $white;
    font-weight: 400;
    border: none;
    padding: 1rem;
    transition: background-color 0.5s;
    &:hover {
      background-color: lighten($failure, 10%);
    }
  }
}

header {
  background-color: $dark-grey;
  color: $white;
  height: 45px;
  padding: 1rem;
  font-weight: 300;
}

main {
  padding: 1rem;
  min-height: calc(100vh - 90px);
}

footer {
  padding: 1rem;
  background-color: $dark-grey;
  color: $white;
  height: 45px;
}

.card {
    font-weight: 700;
    margin-bottom: 1rem;
    img {
      width: 100px;
      display: block;
    }
}
